
@import 'common/styles.module.scss';

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  & > :last-child {
    width: $base-size * 20;
    box-shadow: shadow(1);
    border-radius: $base-size / 2;
  }

  & > :first-child {
    max-width: 30em;
  }
}

@media (min-width: $mobile-screen-size) {
  .about-container > :last-child {
    margin-left: $base-size * 2;
  }
}

@media (max-width: $mobile-screen-size) {
  .about-container {
    flex-direction: column;
  }
}
