@import 'common/styles.module.scss';

.page-container {
  background: #F0F0F0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.page-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 ($base-size * 4);

  min-height: 100vh;

  & > :first-child {
    flex: 0 0 auto;
  }

  & > .page-body {
    flex: 1 0 auto;
  }

  & > :last-child {
    flex: 0 0 auto;
  }
}

.page-header {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: $base-size * 8;
  align-items: end;
  padding: $base-size * 2;
  margin-bottom: $base-size * 2;
  margin-left: -$base-size * 2;
  
  & > :first-child {
    margin-bottom: -56px;
  }
}

.header-controls-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.search-container {
  width: $base-size * 40;
  margin-top: $base-size * 2;
}

.page-selector {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: $base-size;
  }
}

.page-body {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
