@import 'common/styles.module.scss';

.base-button-style {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: ($base-size / 2);
  border-radius: ($base-size / 4);

  font-size: $base-size * 1.25;  
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: $base-size / 8;

  & :global(.material-icons) {
    font-variant: initial;
  }
}

.variant-default {
  background: color(text);
  color: #F0F0F0;

  &:hover {
    box-shadow: shadow(1);
    color: color('blue', 'lightest');
  }

  &:active {
    box-shadow: none;
    color: color('blue', 'lighter');
  }
}

.variant-minimal {
  background: transparent;
  border: none;
  color: color(text);

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: rgba(0, 0, 0, 0.2);
  }
}
