@import 'common/styles.module.scss';

.base-button-style {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: ($base-size / 2);
  border-radius: ($base-size / 4);

  font-size: $base-size * 1.5;  
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: $base-size / 8;
}

.variant-minimal {
  color: color(text);
  background: transparent;
  border: none;

  &:hover {
    background: rgba(0, 0, 0, 0.15);
  }

  &:active {
    background: rgba(0, 0, 0, 0.3);
  }
}
