
@import "common/styles.module.scss";

$max-cards-wide: 3;
$project-card-size: 320px;
$project-card-gaps: $base-size * 4;

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, $project-card-size);
  grid-gap: $project-card-gaps;
  width: 100%;
  max-width: $project-card-size * $max-cards-wide + $project-card-gaps * ($max-cards-wide - 1);
}

.project-card {
  position: relative;

  & img {
    width: $project-card-size;
    height: $project-card-size;
    object-fit: cover;
  }
  
  & > .title {
    position: absolute;
    left: 0;
    bottom: 0;

    background: rgba(255,255,255,0.7);
    padding: $base-size * 0.5 $base-size;
    padding-top: 0;
    border-top-right-radius: $base-size;
  }

  &:hover > .animated-image + .cover-image {
    display: none;
  }

  &:not(:hover) > .animated-image {
    display: none;
  }
}
