
@import "common/styles.module.scss";

$max-cards-wide: 3;
$illustration-card-size: 320px;
$illustration-card-gaps: $base-size * 4;

.root-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.illustrations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, $illustration-card-size);
  grid-gap: $illustration-card-gaps;
  width: 100%;
  max-width: $illustration-card-size * $max-cards-wide + $illustration-card-gaps * ($max-cards-wide - 1);
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.go-back-container {
  width: 100%;
  margin-bottom: $base-size * 3;
}

.illustration-card {
  position: relative;

  & img {
    max-width: $illustration-card-size;
    max-height: $illustration-card-size;
    object-fit: cover;
  }
  
  & > .title {
    position: absolute;
    left: 0;
    bottom: 0;

    background: rgba(255,255,255,0.8);
    padding: $base-size * 0.5 $base-size;
    padding-top: 0;
    border-top-right-radius: $base-size;
    
    & p {
      line-height: 2 * $base-size;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
