@import 'common/styles.module.scss';

.card {
  position: relative;

  top: -2px;
  background: color('white');
  border-radius: $base-size / 2;
  box-shadow: shadow(2);


  &:not(.no-click) {
    &:hover, &:focus {
      box-shadow: shadow(1);
      top: -1px;
      left: 1px;
    }

    &:active {
      box-shadow: shadow(0);
      top: 0px;
      left: 0px;
    }
  }

  &.padding-default {
    padding: $base-size * 2;
  }
}
