
@import "common/styles.module.scss";

$max-cards-wide: 3;
$illustration-card-size: 480px;
$illustration-card-gaps: $base-size * 4;

.illustrations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, $illustration-card-size);
  grid-gap: $illustration-card-gaps;
  width: 100%;
  max-width: $illustration-card-size * $max-cards-wide + $illustration-card-gaps * ($max-cards-wide - 1);
}

.go-back-container {
  width: 100%;
  margin-bottom: $base-size * 3;
}
