@import 'common/styles.module.scss';

.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  & > .overlay-container {
    display: none;
  }

  &.show-overlay > .overlay-container {
    display: block;
  }
}

.contents-container {
  width: 100vw;
  height: 100vh;
}

.overlay-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: color('grey', 'lightest');
}

.overlay-layout-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;

  & img {
    max-width: calc(100vw - #{$base-size * 2});
    max-height: calc(100vh - #{$base-size * 5});
    object-fit: cover;
    pointer-events: none;
    border-radius: $base-size * 2;
  }
}

.controls-container {
  width: calc(100% - #{$base-size * 2});
  height: 3 * $base-size;
  padding: 0 $base-size;

  background: linear-gradient(0deg, color('blue', 'dark'), color('blue', 'darker'));
  box-shadow: shadow(1);
  border-bottom: color('blue', 'dark') 1px solid;
}

.controls-grid {
  display: grid;
  max-width: $page-column-max-width;
  height: 3 * $base-size;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;

  & button {
    width: fit-content;
  }

  & > :first-child {
    justify-self: start;
  }
  & > :last-child {
    justify-self: end;
  }
}

.slideshow-controls {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: $base-size / 2;

  & > :first-child {
    width: 40px;
    margin-right: 8px;
    :global(.material-icons) {
      margin-right: -8px;
    }
  }
}

.download-button {
  a { 
    text-decoration: none;
  }
  :global(.material-icons) {
    margin-right: $base-size / 2;
    margin-top: 4px;
  }
}

.space-for-button {
  width: 40px;
}
