@import 'common/styles.module.scss';

.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  & > .overlay-container {
    display: none;
  }

  &.show-overlay > .overlay-container {
    display: block;
  }
}

.contents-container {
  width: 100vw;
  height: 100vh;
}

.overlay-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;

  background: rgba(0, 0, 0, 0.67);
}

.overlay-layout-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;

  & img {
    border-radius: $base-size / 2;
    max-width: calc(100vw - #{$base-size * 16});
    max-height: calc(100vh - #{$base-size * 8} - 40px);
    object-fit: cover;
    pointer-events: none;
  }
}

.illustration-container {
  position: relative;
}

.close-container {
  position: absolute;
  top: $base-size / 2;
  right: $base-size / 2;
}

.slideshow-container {
  display: grid;
  width: calc(100% - #{$base-size * 4});
  grid-template-columns: auto 1fr auto;
  column-gap: $base-size * 2;
  padding: $base-size * 2 0;
  align-items: center;
  justify-items: center;
  flex: 1 1 0;

  & > :first-child {
    justify-self: start;
    :global(.material-icons) {
      margin-right: -8px;
    }
  }

  & > :last-child {
    justify-self: end;
    :global(.material-icons) {
      margin-right: -4px;
    }
  }

  & button {
    border-radius: $base-size * 2;
    width: $base-size * 4;
    height: $base-size * 4;
  }

  .space-for-button {
    width: $base-size * 4;
    height: $base-size * 4;
  }
}
  
.download-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $base-size * 2;
  flex: 0 0 $base-size * 4;
  
  & button {
    height: $base-size * 4;
    border-radius: $base-size * 2;
    padding-left: $base-size * 2;
    padding-right: $base-size * 2;

    :global(.material-icons) {
      font-size: 32px;
      margin-right: $base-size;
      margin-bottom: -4px;
    }
  }

  & a {
    text-decoration: none;
  }
}
