@import 'common/styles.module.scss';

$result-img-size: 220px;

.search-container {
  position: relative;
  width: 100%;
  z-index: 1;

  &:focus-within:not(.empty-search) {
    & .page-overlay,
    & .input-background,
    & .search-results-container {
      display: block;
    }
    & .search-close-container {
      display: flex;
    }
  }

  & input {
    position: relative;
    width: 100%;
    height: $base-size * 4;
    border-radius: $base-size / 2;
    border: 1px solid color('text');
    font-size: $base-size;
    padding-right: $base-size * 4;
    padding-left: $base-size * 4;
  }
}

.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.67);
  pointer-events: none;
}

.input-background {
  display: none;
  position: absolute;
  width: calc(100% + #{$base-size * 2});
  height: $base-size * 6;
  background: color('white');
  top: -$base-size;
  left: -$base-size;
  border-top-left-radius: $base-size / 2;
  border-top-right-radius: $base-size / 2;
  border-bottom: 1px solid color('text');
}

.search-results-container {
  display: none;
  position: absolute;
  width: calc(100% + #{$base-size * 2});
  max-height: 85vh;
  overflow-y: auto;
  padding-top: $base-size * 6;
  top: -$base-size;
  left: -$base-size;

  box-shadow: shadow(2);
  border-radius: $base-size / 2;
  background: #F0F0F0;

  & > :not(:last-child) {
    margin-bottom: $base-size * 2;
  }
}

.search-results-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, $result-img-size);
  column-gap: $base-size * 2;
  row-gap: $base-size * 2;
  padding: $base-size * 2;
  justify-content: center;

}

.search-result-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result {
  position: relative;

  & img {
    max-width: 100%;
    max-height: $result-img-size;
    object-fit: cover;
  }
  
  & > .title {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: calc(100% - #{2 * $base-size});

    background: rgba(255,255,255,0.9);
    padding: $base-size * 0.5 $base-size;
    border-top-right-radius: $base-size;
    
    & p {
      line-height: 2 * $base-size;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.search-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  height: $base-size * 4;
  width: $base-size * 4;

  display: flex;
  align-items: center;
  justify-content: center;

  & :global(.material-icons) {
    font-size: 32px;
    color: color('text', 'light');
  }
}

.search-close-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $base-size * 4;
  width: $base-size * 4;
  align-items: center;
  justify-content: center;

  & :global(.material-icons) {
    font-size: 32px;
    color: color('text', 'light');
  }
}
